<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="reg.css">
</head>
<body>
<div class="container">
    <header><h1>Sign up</h1></header>
    <form action="/reg" method="post">
    <input type="text" placeholder="Login" name="login">
    <input type="password" placeholder="Password" name="password">
    <input type="text" placeholder="First name" name="firstName">
    <input type="text" placeholder="Last name" name="lastName">
    <button type="submit">Sign Up</button>
</form>
<button><a href="/">Login</a></button>
</div>
</body>
</html>