<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="list.css">
</head>
<body>
<div>
    Nice to see you, Robert!
</div>
<form action="/auth" method="get">
    <button type="submit">Log out</button>
</form>
    <form action="/cart?commodityId=1&op=add" method="post">
        iPhone 4
        50
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=2&op=add" method="post">
        iPhone 4s
        70
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=3&op=add" method="post">
        iPhone 5
        100
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=4&op=add" method="post">
        iPhone 5s
        150
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=5&op=add" method="post">
        iPhone 6
        200
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=6&op=add" method="post">
        iPhone 6 Plus 
        250
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=7&op=add" method="post">
        iPhone 6s
        300
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=8&op=add" method="post">
        iPhone 6s Plus
        350
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=9&op=add" method="post">
        iPhone 7
        400
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=10&op=add" method="post">
        iPhone 7 Plus
        450
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=11&op=add" method="post">
        iPhone 8
        500
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=12&op=add" method="post">
        iPhone 8 Plus
        550
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=13&op=add" method="post">
        iPhone X
        800
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=14&op=add" method="post">
        iPhone XR
        850
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=15&op=add" method="post">
        iPhone XS
        15,000
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=16&op=add" method="post">
        MacBook Air
        20,000
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=17&op=add" method="post">
        MacBook Pro
        40,000
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=18&op=add" method="post">
        iMac Pro
        200,000
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=19&op=add" method="post">
        Tesla Model 3
        56,000
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=20&op=add" method="post">
        Tesla Model S
        120,000
        <button type="submit">Add to cart</button>
    </form>
    <form action="/cart?commodityId=21&op=add" method="post">
        Tesla Model X
        200,000
        <button type="submit">Add to cart</button>
    </form>
</body>
</html>