<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="list.css">
</head>
<body>
    <div>
        iPhone 4
        50
    </div>
    <div>
        iPhone 4s
        70
    </div>
    <div>
        iPhone 5
        100
    </div>
    <div>
        iPhone 5s
        150
    </div>
    <div>
        iPhone 6
        200
    </div>
    <div>
        iPhone 6 Plus 
        250
    </div>
    <div>
        iPhone 6s
        300
    </div>
    <div>
        iPhone 6s Plus
        350
    </div>
    <div>
        iPhone 7
        400
    </div>
    <div>
        iPhone 7 Plus
        450
    </div>
    <div>
        iPhone 8
        500
    </div>
    <div>
        iPhone 8 Plus
        550
    </div>
    <div>
        iPhone X
        800
    </div>
    <div>
        iPhone XR
        850
    </div>
    <div>
        iPhone XS
        15,000
    </div>
    <div>
        MacBook Air
        20,000
    </div>
    <div>
        MacBook Pro
        40,000
    </div>
    <div>
        iMac Pro
        200,000
    </div>
    <div>
        Tesla Model 3
        56,000
    </div>
    <div>
        Tesla Model S
        120,000
    </div>
    <div>
        Tesla Model X
        200,000
    </div>
</body>
</html>